.propertiesTextStyle{
    cursor: pointer;
}
.groupViewMemberList{
    height: 34px;
    background: #F7F7F7;
    border: 1px solid rgba(102, 102, 102, 0.35) !important;
    border-radius: 16px !important;
}