.fs_11{
    font-family: 'Poppins';
    font-size: 11px;
}
.fs_12{
    font-family: 'Poppins';
    font-size: 12px;
}
.fs_14{
    font-family: 'Poppins';
    font-size: 14px;
}
.fs_15{
    font-family: 'Poppins';
    font-size: 15px;
   
}
.fs_16{
    font-family: 'Poppins';
    font-size: 16px;
   
}
.fs_18{
    font-family: 'Poppins';
    font-size: 18px;
   
}
.fs_21{
    font-family: 'Poppins';
    font-size: 21px;
}
.fs_40{
    font-family: 'Poppins';
    font-size: 40px;
}
.fw_300{
    font-weight: 300;
}
.fw_400{
    font-weight: 400;
}
.fw_500{
    font-weight: 500;
}
.fw_600{
    font-weight: 600;
}
.fw_700{
    font-weight: 700;
}
.fc_black{
    color: #000
}
.fc_grey{
    color: #939599;
    
}
.fc_grey2{
    color: #666666;
 }
.fc_white{
    color: #fff;
}
.fc_cyan{
    color: #64748B;
}
.fc_cyan2{
   color: #494D61;
}
.fc_cyan3{
    color: #667085;
 }
 
 

.fc_purple{
    color: #7C167D;
}
.KycContainer{
    padding-left: 80px;
    padding-right: 140px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.previousButton{
    background-color: #E7EAEE;
}
.ant-btn {
    border-radius: 6px;
}
.imageBox{
    width: 684px;
height: 288px;
background-image: url('../../assets/img/image\ 31.svg');
background-position: center;
background-size: contain;
}
.noteDiv{
width: 682px;
height: 76px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
border-left: 6px solid #F8C341;
padding: 10px;
}
.noteDiv2{
width: 684px;
height: 140px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
border-left: 6px solid #6374A0;
padding: 10px;
}
.accountDetails{
    width: 540px;
    height: 103px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border-left: 6px solid #F8C341;
    padding: 10px;
    &__innerDiv{
        width: 540px;
    }
}

.success{
    width: 602px;
height: 68px;
margin-top: 50px;
vertical-align: middle;
&__image{
    text-align: center;
    margin-top: 200px;
}
}
.siderText{
margin-top: 100px;
margin-left: 50px;
}
.siderBottomImage{
    position: relative;
    // top: 150px;
    // left: 50px;
    left: 12.17%;
// right: 18.35%;
top: 15%;
bottom: 3.51%;
}