.fs_11{
    font-family: 'Poppins';
    font-size: 11px;
}
.fs_12{
    font-family: 'Poppins';
    font-size: 12px;
}
.fs_14{
    font-family: 'Poppins';
    font-size: 14px;
}
.fs_16{
    font-family: 'Poppins';
    font-size: 16px;
   
}
.fs_18{
    font-family: 'Poppins';
    font-size: 18px;
   
}
.fs_21{
    font-family: 'Poppins';
    font-size: 21px;
}
.fs_40{
    font-family: 'Poppins';
    font-size: 40px;
}
.fw_300{
    font-weight: 300;
}
.fw_400{
    font-weight: 400;
}
.fw_500{
    font-weight: 500;
}
.fw_600{
    font-weight: 600;
}
.fw_700{
    font-weight: 700;
}
.fc_black{
    color: #000
}
.fc_grey{
    color: #939599;
    
}
.fc_white{
    color: #fff;
}
.fc_cyan{
    color: #64748B;
}
.fc_cyan2{
   color: #494D61;
}
.fc_purple{
    color: #7C167D;
}
.KycContainer{
    padding-left: 80px;
    padding-right: 140px;
}