.orderCancelForm{
width: 53.75rem;
border-radius: 8px !important;
border-left: 6px solid #76B1D5;;
}
.orderCancelHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #191D23;
}
.cancelOrderPoint{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #666666;
}
.feedback{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #191D23;
}
.writeFeedback{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #666666;
}
.checkTextStyle{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #666666;
}