.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
&__groupType{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
   line-height: 18px;
   color: #212121;
}
&__options{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
   line-height: 18px;
    letter-spacing: 0.05em;   
    color: #3C3C3C;
}
}
.groupMemberInfoShadow{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    // width:  21.125rem;
    // padding: 25px 25px;
}