.createGroupBtn{
    // width: 102px!important;
    padding: 2px 10px !important;
    // height: 28px;
    color: #7C167D!important;
    border: 1px solid #7C167D !important;
    border-radius: 6px!important;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
// margin-left: 236px!important;
}  
.ant-tabs-tab{
    font-family: 'Poppins';
font-style: normal;
// font-weight: 500;
// font-size: 16px;
// line-height: 24px;
color: #212121;
} 
// .ant-tabs-nav-add{
//     margin-left: 71% !important;
// }
.groupName{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.05em;
color: #3C3C3C;
}
.groupDescription{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
letter-spacing: 0.05em;

color: #8A8A8A;
}
.groupButton{
    padding: 3px 10px;
    height: 32px;
    font-family: 'Poppins';
    font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
    color: #7C167D!important;
    border: 1px solid #7C167D !important;
    border-radius: 6px !important; 

}
.groupPrimaryBtn{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height */


color: #F5F5F5;
    padding: 3px 10px;
    
   
    background-color:#7C167D !important ;
    border: 1px solid #7C167D !important;
    border-radius: 6px !important; 
}
.member{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: right;
letter-spacing: 0.01em;

color: #7C7C7C;
}
.ant-tabs-card {
    // border: none !important;
    border: none !important;
   }
   .ant-tabs-nav{
    border: none !important;
   }
   .ant-tabs-tab{
    border: none !important;
   }
.groupTabs{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600!important;
font-size: 16px!important;
line-height: 24px;
// color: #212121;
}
.tabMain{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        width:  40.375rem;
        padding: 25px 25px;
}
.ant-tabs-tab-active{
    border-bottom:3px solid #7C167D !important;
}
