.memberList{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* On Surface / High Emphasis */

color: #212121;
}
.memberListFollow{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
color: #7C167D;
    padding: 3px 10px;

    width: 55px;
    height: 23px;
  
    border: 1px solid #7C167D;
    border-radius: 6px;
}
.memberListVisitProfile{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;

    color: #7C167D;
}
.memberName{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.05em;

color: #3C3C3C;
}