.centralCard {
    max-width: 40.375rem;
}

.createEventButton {
    background-color: #7C167D;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 40.375rem;
    height: 2.125rem;
}

.main-card {
    width: 40.375rem;
    border: none;
    border-radius: 18px;
}

@media(max-width: 1280px) {
    .centralCard {
        max-width: 35.375rem;
    }
    
    .createEventButton {
        background-color: #7C167D;
        color: white;
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        border-radius: 6px;
        border: none;
        outline: none;
        width: 35.375rem;
        height: 2.125rem;
    }
    
    .main-card {
        width: 35.375rem;
        border: none;
        border-radius: 18px;
    }

    .blurred-bottom {
        top: 0;
        left: 0;
        background: radial-gradient(100% 329.18% at 0% 0%, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.03) 100%);
        box-shadow: 0px 20px 40px rgb(0 0 0 / 5%);
        backdrop-filter: blur(15px);
        filter: blur(2px);
        -webkit-filter: blur(2px);
        width: 35.375rem!important;
        height: 34px!important;
    }

    .icons {
        position: absolute;
        top: -20px!important;
        right: 49px;
    }
}

.blurred-bottom {
    top: 14.2%;
    left: 0;
    background: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.03) 100%);
    box-shadow: 0px 20px 40px rgb(0 0 0 / 5%);
    backdrop-filter: blur(15px);
    filter: blur(2px);
    -webkit-filter: blur(2px);
    width: 40.375rem;
    height: 44px;
}

.dateCard {
    position: absolute;
    width: 49px;
    height: 53px;
    border-radius: 6px;
    background-color: white;
    top: -30px;
    left: 47px;
}

.dateNumber {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.dateMonth {
    color: #FF5353;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

.icons {
    position: absolute;
    top: -30px;
    right: 49px;
}

.editText {
    color: white;
    font-size: 12px;
}

.procreate {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.price {
    color: #7C167D;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.notifications {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #9597A1;
}

.others {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.hosts {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.viewAll {
    color: #9597A1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.actualDescription {
    width: 551px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    color: #666666;
    width: 100%;
}

.my-custom {
    margin-bottom: 10.25px;
    margin-top: 10.25px;
}