.propertiesTextStyle{
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    &__colorWhite{
        color: #FFFFFF;
        cursor: pointer;
    }
}
.writeSomething{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #666666;
// width: 100% !important;
width: 100%;
max-width:37.95rem ;
}
.pencil{    position: absolute;
    top: 32px;
    left: 265px;
    color: #666666 !important;
}