.notificationsCard{
    border-radius: 20px !important;
    border: 1px solid rgba(191, 99, 197, 0.1) !important ;
    width: 393px;
    position: absolute;
    top: 80px;
    left: 1231px;
    z-index: 200;
}
.pushNotificationsCard{
    border-radius: 20px !important;
    border: 1px solid rgba(191, 99, 197, 0.1) !important ;
    width: 663px;
    position: absolute;
    top: 172px;
    left: 633px;
    // z-index: 200;
    height: 773px;
}
.innerDiv2{
    background: rgba(191, 99, 197, 0.05);
border-radius: 10px;
}