.signIn{
    background: linear-gradient(114.78deg, #844D95 -5.79%, #6374A0 73.16%);
    height: 100vh;
    padding-top: 101px;
    position: relative;
}
.signInContainer{
    height: 50.563rem!important;
    width: 38.625rem ;
    background: white;
    border-radius: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 62px;
    margin-inline: auto;
    text-align: center;
   }
   .formLabel{
    width: 33rem !important;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Sub Heading */

color: #494D61;
}
.SignInInput{
    width:33rem !important;
    height: 56px;
    border: 1px solid #BF63C5;
    border-radius: 6px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #64748B;
   }
   .signInFooter{
    position: fixed;
    bottom: 0;
    width: 100%;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   /* identical to box height */
   color: #666666;
   background-color: white;
   
   }
//    #normal_login_password_help{
//     text-align: left!important;
//     margin-left: 4rem;
//    }
 
//    #normal_login_email_help{
//     text-align: left!important;
//     margin-left: 4rem;
//    }
   .forgetPass{
    text-decoration-line: underline!important;
   }
   .donotHaveAcc{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #333333;
   }