.advertiserName{
font-weight: 600;
font-size: 14px;
line-height: 22px;
color: #666666;
}
.tableRow{
    font-family: 'Poppins';
font-style: normal;
}
.searchFilter{
    padding: 5px 15px;


width: 210px;
height: 34px;

/* Black & White / White */

background: #FFFFFF;
/* Light Gray / Light Gray 2 */

border: 1px solid #DDE2E4;
border-radius: 6px;
}
.advertiserDiscrip{

font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #71717A;
}
.price{

font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #666666;
}
.pkr{

font-weight: 400;
font-size: 12px;
line-height: 20px;
color: #71717A;
}
.USDT{
    font-weight: 600;
font-size: 14px;
line-height: 22px;
color: #666666;
}
.available{
//     font-family: 'Poppins';
// font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #71717A;
}
.dollar{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
}
.limit{
    font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #71717A;
}
.bank{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
color: #3C3C3C;
padding: 5px 10px;
background: rgba(60, 60, 60, 0.05);
border-radius: 6px;
}
.jazzCash{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
color: #EE1D52;
padding: 5px 10px;
background: rgba(255, 25, 48, 0.05);
border-radius: 6px;
}
.ubl{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
color: #8BABFF;
    padding: 5px 10px;
    background: rgba(139, 171, 255, 0.05);
    border-radius: 6px;
}
.easyPaisa{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
color: #349E6B;
    padding: 5px 10px;
    background: rgba(52, 158, 107, 0.05);
    border-radius: 6px;
}
.buyBtn{
    padding: 5px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
width: 90px;
height: 34px;

 background: #7C167D;

border-radius: 6px;

}
.flatDropMenu{
    padding:  4px 4px;
    width: 62px;
    height: 30px;
color:#3C3C3C !important ;


background: #E7EAEE;
border-radius: 6px;
}
